<p>
  users-apicomponent works!
</p>
Real Time Search: 
<input type="text" [(ngModel)]="searchString" autofocus> {{searchString}}
<br>
<br>

<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Co-ordinates</th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let user of allUsers | autoSearchPipe:searchString">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.address.geo.lat + ", " + user.address.geo.lng}}</td>
  </tr>
</tbody>
</table>

<br>
<br>
<button (click)="postUser()">Create</button>